@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #1bf0ff;
  --color-secondary: #112240;
  --color-tertiary: #0a192f;

  --breakpoint-xs: 480px;

  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-tertiary text-white font-inter;
  }

  section {
    @apply max-w-250 mx-auto;
  }

  p {
    @apply text-gray-400 text-base sm:text-lg;
  }
}

@layer utilities {
  @keyframes profile_animate {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }

  .heading{
    @apply text-2xl sm:text-3xl font-extrabold mb-3;
  }

  .big-heading {
    font-size: clamp(40px, 5vw, 80px);
    line-height: 1.1;
  }

  .button-1{
    @apply bg-primary text-tertiary px-6 py-2 rounded-l-sm hover:text-white transition duration-500 text-sm sm:text-base;
  }

  .about-img {
    @apply object-left object-cover w-full max-w-70 aspect-square justify-self-center border-5 border-primary;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    animation: profile_animate 8s ease-in-out infinite 1s;
  }


}
