@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #8b68fe;
  --color-secondary: #1a1a2e;
  --color-tertiary: #111114;

  --color-primary-t: #94b4da;
  --color-secondary-t: #daebff;

  --breakpoint-xs: 480px;

  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    color: #daebff;
    @apply bg-tertiary text-primary-t font-inter;
  }

  section {
    @apply max-w-250 mx-auto;
  }

  p {
    @apply text-base sm:text-lg;
  }
}

@layer utilities {
  @keyframes profile_animate {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }

  .heading{
    @apply text-2xl sm:text-3xl font-extrabold mb-3 text-white;
  }

  .big-heading {
    font-size: clamp(40px, 5vw, 80px);
    line-height: 1.1;
  }

  .sub-heading{
    @apply text-lg sm:text-xl font-extrabold mb-6 text-secondary-t;
  }

  .button-1{
    @apply bg-primary hover:bg-primary/60 px-6 py-2 rounded-l-sm text-white transition duration-500 text-sm sm:text-base cursor-pointer;
  }

  .about-img {
    @apply max-w-70 aspect-square justify-self-center border-5 border-primary overflow-hidden;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    animation: profile_animate 8s ease-in-out infinite 1s;
  }


}
